<!Doctype>
<html lang="en">
<head>
<title>Contact</title>
</head>
<body>
    <h1>Contact</h1>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    <form action="{% url 'contact' %}" method="post">
        <p>
            Your name: <input type="text" name="name" value="{% if name %}{{ name }}{% endif %}">
        </p>
        <p>
            Your email: <input type="text" name="email" value="{% if email %}{{ email }}{% endif %}">
        </p>
        <p>
            Your message: <textarea name="message">{% if message %}{{ message }}{% endif %}</textarea>
        </p>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
</body>
</html>
